apiVersion: v1
kind: Service
metadata:
  name: n8n
spec:
  type: {{ .Values.service.type }}
  selector:
    app: n8n
  ports:
    - name: web
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: web
